body, html {
	text-align: center;
	background: #e0e0e0/*url(https://image.noelshack.com/fichiers/2018/46/6/1542477917-fond-page-web-blanc.jpg) center fixed*/;
	padding: 0;
	margin: 0;
}

header {
	position: relative;
	z-index: 10;
	color: white;
	padding-bottom: 0%;
}

img:hover {
	border: 1px solid black;
}

.a {
	color: white;
	transition-property: color;
	transition-duration: 0.5s;
}

.a:hover {
	color: black;
	transition-duration: 0.5s;
}

.btn {
	box-shadow: none;
	color: #e53935;
	border: 2px solid #e53935;
	transition-property: color;
	transition-property: background;
	transition-duration: 0.5s;
}

.btn:hover {
	color: white;
	background: #e53935;
	box-shadow: none;
	transition-duration: 0.5s;
}

.h1, .h4 {
	text-transform: uppercase;
}

.head-box {
	color: white;
	background: #e53935;
}

.head {
	background: #e53935;
	padding-bottom: 2%;
}

.break {
	position: relative;
	margin-top: -4%;
	padding-top: 7%;
	background: #e53935;
	-webkit-transform : skewY(-2.5deg);
    -moz-transform    : skewY(-2.5deg);
    -ms-transform     : skewY(-2.5deg);
    -o-transform      : skewY(-2.5deg);
    transform         : skewY(-2.5deg);
}

.fa-discord, .fa-twitter, .fa-facebook-f {
	transition-property: color;
	transition-duration: 0.5s;  
}

.fa-discord:hover, .fa-twitter:hover, .fa-facebook-f:hover {
	color: black;
}

.hr-black {
	border-top: solid 1px black;
	width: 500px;
}

.intro, .comp, .services {
	margin-top: 100px;
	margin-bottom: 100px;
}

.box {
	border: 1px solid #e53935;
	font-weight: bold;
	border-radius: 0px 0px 35px 35px;
}
